Joanna Rutkowska <joanna@invisiblethingslab.com> joanna <>
Marek Marczykowski-Górecki <marmarek@invisiblethingslab.com> marmarek <>
Axon <axon@openmailbox.org> axon <>
Zrubecz Laszlo <mail@zrubi.hu> Zrubi <>
Hakisho Nukama <nukama@gmail.com> Nukama <>
Rafal Wojtczuk <rafal@invisiblethingslab.com> rafal <>
Olivier Medoc <o_medoc@yahoo.fr> oliv <>
Rafał Wojdyła <omeg@invisiblethingslab.com> omeg <>
Joanna Rutkowska <joanna@invisiblethingslab.com>  <> wikimaster <>
Wojciech Zygmunt Porczyk <woju@invisiblethingslab.com> woju <>
Franz <169101@gmail.com> franz <>
Alex Dubois <bowabos@gmail.com> bowabos <>
Abel Luck <abel@guardianproject.info> abel <>
IX4 SVS <ix4svs@gmail.com> femton <>
Vincent Penquerc'h <vincent@collabora.co.uk> v <>
Agnieszka Kostrzewa <a.kostrzewa@alx.pl> aga <>
Andrew B <kyboren@riseup.net> andrewb <>
Alexandre Bezroutchko <abb@gremwell.com> abb <>
Tomasz Sterna <tomek@xiaoka.com> smoku <>
Andrew Sorensen <andrewx192@gmail.com> andrewx192 <>
Gynvael Coldwind <gynvael@coldwind.pl> gynvael <>
